<h1>User info</h1>
<%= form_with model: @user do |f| %>
  <%= f.label "Name", :name %>
  <%= f.text_field :name %>
  <%= f.label "Image", :profile_image %>
  <%= f.attachment_field :profile_image %>
  <%= f.label "Introduction", :introduction %>
  <%= f.submit %>
<% end %>
